@model IQueryable<Student>
@using NonFactors.Mvc.Grid
@{
    ViewData["Title"] = "Student";
}
<h1>Student</h1>
@*<link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />*@
<link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
  <link href="~/Content/Shared/base.css" rel="stylesheet" />
  


<a asp-action="CreateStudent" asp-controller="Home" > Create Student </a>

<div class="widget example">
    <div class="widget-header">
        <div class="fa fa-bars"></div>
        <span>Filtering grid data</span>
    </div>
    <div class="widget-content">
        @(Html
            .Grid(Model)
            .Build(columns =>
                    {
                        columns.Add(model => model.Name);
                        columns.Add(model => model.Surname);
                        columns.Add(model => model.MaritalStatus);
                        columns.Add(model => model.Age);
                        columns.Add(model => model.Birthday).Formatted("{0:d}");
                        columns.Add(model => model.IsWorking);
                    })
                    .UsingFilterMode(GridFilterMode.Row).Empty("No data found").Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 2, "2" }, { 4, "4" } };
                pager.ShowPageSizes = true;
                pager.PagesToDisplay = 3;
                pager.CurrentPage = 2;
                pager.RowsPerPage = 2;
                pager.CssClasses = "pagination";
    }).Filterable()
            .Sortable()

        )
    </div>
</div>
<script>$('.mvc-grid').mvcgrid();</script>
<script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Scripts/Shared/site.js"></script>

    

